In [1]:
import pandas as pd 
x = [3, 6, 9, 12, 15, 18, 21]
ser = pd.Series(x)
ser

0     3
1     6
2     9
3    12
4    15
5    18
6    21
dtype: int64

In [2]:
x = [3, 6, 9, 12, 15, 18, 21]
ser = pd.Series(x,index =["A","B","C","D","E","F","G"])
ser

A     3
B     6
C     9
D    12
E    15
F    18
G    21
dtype: int64

In [3]:
cal = {"day" : 420, "day2" : 380, "day3": 390, "day4" : 410, "day5": 320}
cal_ser = pd.Series(cal)
cal_ser

day     420
day2    380
day3    390
day4    410
day5    320
dtype: int64

In [8]:
cal = {"calories": [420, 380, 390, 410, 320],
       "duration" : [50, 40, 45, 47, 49]}
cal_df = pd.DataFrame(cal)
cal_df

   calories  duration
0       420        50
1       380        40
2       390        45
3       410        47
4       320        49

In [9]:
cal_df.index

RangeIndex(start=0, stop=5, step=1)

In [10]:
cal_df.loc[0]

calories    420
duration     50
Name: 0, dtype: int64

In [11]:
cal_df.loc[[0 ,1]]

   calories  duration
0       420        50
1       380        40

In [12]:
cal = {"calories" :[420, 380, 390, 410, 320],
       "duration":[50, 40, 45, 47, 49]}
cal_df  = pd. DataFrame(cal,index =["day1", "day2", "day3", "day4", "day5"])
cal_df

      calories  duration
day1       420        50
day2       380        40
day3       390        45
day4       410        47
day5       320        49

In [13]:
cal_df.loc["day1"]

calories    420
duration     50
Name: day1, dtype: int64